body {
  background-color: #eeeeee;
}
hr {
  border-style: dotted none none none;
  border-color: #c9d6df;
  width: 5%;
  border-width: 5px;
}
h3 {
  color: #66bfbf;
}
h1 {
  color: #66bfbf;
}
